
{% for formation in formations %}
    <div class="col-md-6">
        <div class="card" style="width: 20rem; margin: 40px 0">
            <img class="card-img-top" width="320" height="240" src="{{ asset('uploads/assets/' ~ formation.image) }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Titre : {{ formation.titreFormation }}</h4>
                <p class="card-text">Description : {{ formation.descriptionFormation }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Duree : {{ formation.dureeFormation }}
                    <li class="list-group-item">ID : {{ formation.formationid }}</li>
                </ul>
                <a href="{{ path('formation_edit', { 'formation_id': formation.formationid }) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('formation_delete', { 'formation_id': formation.formationid }) }}" class="btn btn-primary">Delete</a>
                <a href="{{ path('Simulation', { 'formation_id': formation.formationid }) }}" class="btn btn-primary">Courses</a>
                <a href="{{ path('participer', { 'formation_id': formation.formationid })}}" class="button button-contactForm boxed-btn"> S'inscrire</a>
                <a href="{{ path('annulerparticiper', { 'formation_id': formation.formationid })}}" class="button button-contactForm boxed-btn"> annuler</a>

                <button type="submit" value="{{ formation.formationid }}"
                        class="jaime btn btn-tag">
                    <i class="fa fa-thumbs-up" style="color: #0a7c71" aria-hidden="true"></i> Like <p id="#{{ formation.formationid }}likes">({{ formation.likes }})</p>
                </button>
                <button type="submit" value="{{ formation.formationid }}"
                        class="jaime btn btn-tag">
                    <i class="fa fa-thumbs-down" style="color: #0a7c71" aria-hidden="true"></i> Like <p id="#{{ formation.formationid }}likes">({{ formation.likes }})</p>
                </button>
            </div>
        </div>
    </div>

{% endfor %}