{% extends 'profile.html.twig' %}

{% block content %}
    <div class="align-self-center ">

        {{ form_start(edit_form, {'attr': {'class' : 'form-row'}} ) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(edit_form.contenuReponse, 'modifier la reponse', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(edit_form.contenuReponse, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_widget(edit_form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}