{% extends 'back.html.twig' %}
{% block egg %}

    <a href="{{ path('ajoutproduit') }}"><li> Ajouter Des Produits</li></a>
    <li><a href="{{ path('ajoutcategorie') }}">Ajouter  Les Catégorie</a></li>
    <li style="border-bottom: 1px solid #ddd;"><a href="{{ path('affichecategorie') }}"> Afficher Les Catégorie</a><br><br><br></li>
    <br><br>

<h2>Liste Des Produits</h2>
    <br>
<table class="table" style="width: 100%; ">

    <tr style="background: #343A40;color: white;border: none; ">
        <th style=" text-align: center;padding: 18px;border-top-left-radius: 15px;border: none;">Image</th>
        <th style=" text-align: center;padding: 18px;border: none;">Nom</th>
        <th style=" text-align: center;padding: 18px;border: none;">Description</th>
        <th style=" text-align: center;padding: 18px;border: none;">Prix</th>
        <th style=" text-align: center;padding: 18px;border: none;">Quantité</th>
        <th style=" text-align: center;padding: 18px;border: none;">Catégorie</th>
        <th style=" text-align: center;padding: 18px;border: none;">Modifier</th>
        <th style=" text-align: center;padding: 18px;border-top-right-radius: 15px;border: none;">Supprimer</th>
    </tr>
    {% for p in produit %}
        <tr>
            <th style=" text-align: center;"><img style="width: 190px;" height="140px" src="{{ asset('uploads/assets/' ~ p.image ) }}"></th>
            <th style=" text-align: center;">{{ p.nom }}</th>
            <th style=" text-align: center;">{{ p.description }}</th>
            <th style=" text-align: center;">{{ p.prix }}</th>
            <th style=" text-align: center;">{{ p.quantite }}</th>
            <th style=" text-align: center;">{{ p.categorie.nomcategorie }}</th>
            <th style="width: 25px;"><a href="{{ path('modifierproduit',{'id':p.id}) }}"><center><img src="{{ asset('back/img/ed.jpg') }}" /></center></a></th>
            <th style="width: 25px;"><a href="#" data-toggle="modal" data-target="#exampleModal" ><center><img src="{{ asset('back/img/rm.jpg') }}" /></center></a></th>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer Produit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Voulez-vous vraiment supprimer ce Produit  ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{ path('supprimerproduit',{'id':p.id}) }}"> <button type="button" class="btn btn-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    {% endfor %}
</table>
{% endblock %}