{% extends 'back.html.twig' %}

{% block egg %}
    <h1>Themes list</h1>
    <ul>
        <li>
            <a href="{{path('back_AddTheme') }}">ajouter theme </a>
        </li>
    </ul>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomtheme</th>
                <th>Typetheme</th>
                <th>Libelletheme</th>
                <th>Descriptiontheme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td><a href="{{ path('back_Theme', { 'id': theme.id }) }}">{{ theme.id }}</a></td>
                <td>{{ theme.nomTheme }}</td>
                <td>{{ theme.typeTheme }}</td>
                <td>{{ theme.libelleTheme }}</td>
                <td>{{ theme.descriptionTheme }}</td>
                <td><a href="{{ path('back_EditTheme',{'id':theme.id}) }}"> <img src="{{ asset ('back/img/ed.jpg') }}" width="30" height="30"> </a>
                    <a href="{{ path('back_DeleteTheme',{'id':theme.id}) }}"><img src="{{ asset ('back/img/rm.jpg') }}" width="30" height="30"></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
