{% extends 'profile.html.twig' %}
{% block name  %}
    Liste des cours
{% endblock%}
{% block content %}

<tbody>
<ul>
    <li>
        <a href="{{ path('cour_new') }}" class="btn btn-primary">Create New course</a>
    </li>
</ul>
    {% for cour in pagination %}
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" width="320" height="240" src="{{ asset('uploads/assets/' ~ cour.image) }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Titre : {{ cour.titreCour}}</h4>
                <p class="card-text">description : {{ cour.descriptionCour }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Duree : {{ cour.dureeCour }}

                </ul>
                <a href="{{ path('cour_show', { 'cour_id': cour.courid }) }}" class="btn btn-primary">Infos</a>
                <a href="{{ path('cour_edit', { 'cour_id': cour.courid }) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('cour_delete', { 'cour_id': cour.courid }) }}}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    {% endfor %}

<a href="{{ path('formation_index') }}" class="btn btn-primary">Liste des Formation</a>
    </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
