{% extends "profile.html.twig" %}
{% block title %} Ajouter Publication {% endblock %}
{% block name %} Publication Video {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/photoUpload.css') }}">
    <link rel="stylesheet" href="{{ asset('front/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
{% endblock %}
{% block content %}
    <div class="col-12 col-lg-6">
        <div class="contact-content" >
            <div class="contact-form-area">
                {{ form_start(form) }}
                {{ form_widget(form.contenue) }}
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon">
                        <img src="{{ asset('front/img/core-img/placeholder.png') }}" alt="">
                    </div>
                    <h6>Je suis là</h6>
                </div>
                <br>
                {{ form_widget(form.localisation) }}
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon">
                        <img src="{{ asset('front/img/core-img/controls.png') }}" alt="">
                    </div>
                    <h6>Catégories</h6>
                </div>
                <br>
                {{ form_widget(form.categorie) }}
                <br>
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon">
                        <img src="{{ asset('front/img/core-img/photo.png') }}" alt="">
                    </div>
                    <h6>Video</h6>
                </div>
                <br>
                {{ form_widget(form.video) }}
                {{ form_widget(form.Publier) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}